<div
      class="p-5 text-center bg-image"
      style="
        opacity: 0px;
        height: 500px;
        margin-top: 58px;
        margin-left: 400px;
        margin-right: 60px;
        background-color: #4a63e7;
        border-radius: 25px;
      "
    >

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <i class="fas fa-car  mt-3"></i>
            <div class="card-body">
              <h5 class="card-title">Building</h5>
              <p class="card-text">
                I have experience in Wordpress usage.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <i class="fas fa-car  mt-3"></i>
            <div class="card-body">
              <h5 class="card-title">Advertisement</h5>
              <p class="card-text">I have experience in Wordpress usage.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <i class="fas fa-car mt-3"></i>
            <div class="card-body">
              <h5 class="card-title">Design</h5>
              <p class="card-text">I have experience in Wordpress usage.</p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100 mt-4">
              <i class="fas fa-car mt-3"></i>
              <div class="card-body">
                <h5 class="card-title">Design</h5>
                <p class="card-text">I have experience in Wordpress usage.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 mt-4">
              <i class="fas fa-car mt-3"></i>
              <div class="card-body">
                <h5 class="card-title">Design</h5>
                <p class="card-text">I have experience in Wordpress usage.</p>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card h-100 mt-4">
            <i class="fas fa-car mt-3"></i>
             <div class="card-body">
              <h5 class="card-title">Developement</h5>
              <p class="card-text">
                I have experience in Wordpress usage.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>