<div
      id="service"
      class="p-5 text-center  shadow-15-strong hover-shadow overflow-auto"
      style="
        opacity: 0px;
        height: 500px;
        margin-top: 58px;
        margin-left: 400px;
        margin-right: 60px;
        background-color: #ffffff;
        border-radius: 25px;
      ">
        <div class="row">
            <div class="firstElement">
                <h4 class="fw-bold mt-0 row">Services</h4>
                <div class="space mt-3"> </div>
            </div>
            <button type="button" class="btn btn-danger d-inline btn-floating">
              <i class="fas fa-magic"></i>
            </button>
        </div>
        <style> 
          .space{
              height:1.1vh;
              width:55px;
              border-radius:10px;
              background-color:#FF5959,
          }</style>
    
    

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col" id="element">
          <div class="card h-100">
            <i class="fas fa-car mt-3"></i>
            <div class="card-body">
              <h5 class="card-title">Building</h5>
              <p class="card-text">
                I have experience in Wordpress usage.
              </p>
            </div>
          </div>
        </div>
        <div class="col" id="element">
          <div class="card h-100 ">
            <i class="fas fa-car  mt-3"></i>
            <div class="card-body">
              <h5 class="card-title">Advertisement</h5>
              <p class="card-text">I have experience in Wordpress usage.</p>
            </div>
          </div>
        </div>
        <div class="col" id="element">
          <div class="card h-100">
            <i class="fas fa-car mt-3"></i>
            <div class="card-body">
              <h5 class="card-title">Design</h5>
              <p class="card-text">I have experience in Wordpress usage.</p>
            </div>
          </div>
        </div>
        <div class="col" id="element">
            <div class="card h-100 mt-4">
              <i class="fas fa-car mt-3"></i>
              <div class="card-body">
                <h5 class="card-title">Design</h5>
                <p class="card-text">I have experience in Wordpress usage.</p>
              </div>
            </div>
          </div>
          <div class="col" id="element">
            <div class="card h-100 mt-4">
              <i class="fas fa-car mt-3"></i>
              <div class="card-body">
                <h5 class="card-title">Design</h5>
                <p class="card-text">I have experience in Wordpress usage.</p>
              </div>
            </div>
          </div>
        <div class="col" id="element">
          <div class="card h-100 mt-4">
            <i class="fas fa-car mt-3"></i>
             <div class="card-body">
              <h5 class="card-title">Developement</h5>
              <p class="card-text">
                I have experience in Wordpress usage.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>