<div
      class="p-5 text-center bg-image g-4"
      style="
        opacity: 0px;
        height: 500px;
        margin-top: 58px;
        margin-left: 400px;
        margin-right: 60px;
        background-color: #ffffff;
        border-radius: 25px;
      ">
    
    <div class="row row-3 float-sm-start">
      <h2 class="float-sm-start row" style="font-weight:bold">Services</h2>
      <div class="float-sm-start row progress">
        <div
          class="progress-bar progress-bar"
          role="progressbar"
          style="width: 100%;background-color: rgb(245, 122, 122);"
          aria-valuenow="100"
          aria-valuemin="100"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col" id="element">
          <div class="card h-100">
            <i class="fas fa-car mt-3"></i>
            <div class="card-body">
              <h5 class="card-title">Building</h5>
              <p class="card-text">
                I have experience in Wordpress usage.
              </p>
            </div>
          </div>
        </div>
        <div class="col" id="element">
          <div class="card h-100 ">
            <i class="fas fa-car  mt-3"></i>
            <div class="card-body">
              <h5 class="card-title">Advertisement</h5>
              <p class="card-text">I have experience in Wordpress usage.</p>
            </div>
          </div>
        </div>
        <div class="col" id="element">
          <div class="card h-100">
            <i class="fas fa-car mt-3"></i>
            <div class="card-body">
              <h5 class="card-title">Design</h5>
              <p class="card-text">I have experience in Wordpress usage.</p>
            </div>
          </div>
        </div>
        <div class="col" id="element">
            <div class="card h-100 mt-4">
              <i class="fas fa-car mt-3"></i>
              <div class="card-body">
                <h5 class="card-title">Design</h5>
                <p class="card-text">I have experience in Wordpress usage.</p>
              </div>
            </div>
          </div>
          <div class="col" id="element">
            <div class="card h-100 mt-4">
              <i class="fas fa-car mt-3"></i>
              <div class="card-body">
                <h5 class="card-title">Design</h5>
                <p class="card-text">I have experience in Wordpress usage.</p>
              </div>
            </div>
          </div>
        <div class="col" id="element">
          <div class="card h-100 mt-4">
            <i class="fas fa-car mt-3"></i>
             <div class="card-body">
              <h5 class="card-title">Developement</h5>
              <p class="card-text">
                I have experience in Wordpress usage.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>