
    <div
      class="p-5 text-center bg-image"
      style="
        opacity: 0px;
        height: 500px;
        margin-top: 58px;
        margin-left: 400px;
        margin-right: 60px;
        background-color: #4a63e7;
        border-radius: 25px;
      "
    >
      <div class="mask" style="background-color: rgba(8, 123, 255, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">I am Blaise</h1>
            <h4 class="mb-3">I am web developer, i have experience in developing websites with wordpress</h4>
            
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-danger btn-rounded" type="button">View Portfolio</button>
                <button class="btn btn-outline-info btn-rounded" type="button">Hire Me</button>
              </div>

          </div>
        </div>
      </div>
    </div>
    