<div
    class="p-5 text-left bg-image shadow-5-strong hover-shadow overflow-auto"
    style="
      opacity: 0px;
      height: 500px;
      margin-top: 58px;
      margin-left: 400px;
      margin-right: 60px;
      border-radius: 25px;
    "
    >
  
    <div class="mask" style="background-color: #6610f2;">
      <div class="position-absolute top-50 start-50 translate-middle">

        <div class="text-white">
          <h1 class="mb-3">I am Blaise<span style="color: rgb(220, 0, 88);">.</span></h1>
          <h5 class="mb-3">I am web developer, i have experience in developing websites with wordpress.</h5>
          
          <div class="d-grid gap-2 d-md-block">
              <button class="btn btn-danger btn-rounded me-3" type="button">View Portfolio</button>
              <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark">Danger</button>
            </div>

        </div>
      </div>
    </div>
  </div>