<div id="dashboard" [style]="defaultBackgroundColor" class="col-md-6">
<img src="" alt="">
<h2></h2>
<h6></h6>
<div id="homeMenu">
    <div class="isPointed"></div>
    <i class=" fas fa-archway" [style]="defaultStyle"></i>
    <p [style]="defaultStyle">Home</p>
</div>
<div id="aboutMe">
    <div class="isPointed" ></div>
    <i class="fas fa-male" [style]="defaultStyle"></i>
    <p [style]="defaultStyle">About</p>
</div>
<div id="service">
    <div class="isPointed"></div>
    <i class="fas fa-hands-helping" [style]="defaultStyle"></i>
    <p [style]="defaultStyle">Services</p>
</div>  
<div id="experience">
    <div class="isPointed"></div>
    <i class="fas fa-hammer" [style]="defaultStyle"></i>
    <p [style]="defaultStyle">Experience</p>
</div>
<div id="education">
    <div class="isPointed"></div>
    <i class="fas fa-graduation-cap" [style]="defaultStyle"></i>
     <p [style]="defaultStyle">Education</p>
</div>
<div id="mySkill">
    <div class="isPointed"></div>
    <i class="fab fa-git-alt" [style]="defaultStyle"></i>
    <p [style]="defaultStyle">My Skill</p>
</div>
<div id="personalProject">
    <div class="isPointed"></div>
    <i class="fas fa-hammer" [style]="defaultStyle"></i>
    <p [style]="defaultStyle">Project</p>
</div>
<div id="language">
    <div class="isPointed"></div>
    <i class="fab fa-leanpub" [style]="defaultStyle"></i>
    <p [style]="defaultStyle">Language</p>
</div>
<div id="contact">
    <div class="isPointed"></div>
    <i class="fa-solid fa-phone" [style]="defaultStyle"></i>
    <p [style]="defaultStyle"  >Contact</p>
</div>
</div>