
#homeMenu,#aboutMe,#contact,#education,#experience,#language,#mySkill,#personalProject,#service{
    
    transition: 0.5s;
    width: 120px;
    height: 2%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    &:hover{
        &{
            padding-left: 5%;
        }
        
    }
}