<div
      class="p-5 text-center bg-image shadow-5-strong hover-shadow overflow-auto"
      style="
        opacity: 0px;
        height: 600px;
        margin-top: 58px;
        margin-left: 400px;
        margin-right: 60px;
        border-radius: 25px;
      "
    >
    
    <div class="row">
        <div class="firstElement ">
            <h4 class="fw-bold mt-0 row" style="color: dark; font-weight: bold;">Experience</h4>
            <div class="space mt-3"> </div>
        </div>
        <button type="button" class="btn btn-danger d-inline btn-floating" (click)="add()">
            <i class="fas fa-magic"></i>
          </button>
          <div class="row row-cols-1 row-cols-md-2 g-4 mt-3" >
          <form *ngIf="isAdd">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="annee" name="annee" class="form-control" [(ngModel)]="annee" />
              <label class="form-label">annee</label>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="text" id="description" name ="description" class="form-control" [(ngModel)]="description" />
              <label class="form-label">Description </label>
            </div>
        
            <!-- Submit button -->
            <button (click)="addExperience()" class="btn btn-danger btn-block mb-5">Add Experience</button>

          </form>
          </div>
    </div>
    <style> 
      .space{
          height:1.1vh;
          width:55px;
          border-radius:10px;
          background-color:#FF5959,
      }</style>
            <div class="main-timeline ">
            
                                    <!-- start experience section-->
                                    <div class="timeline" *ngFor="let experience of experiences">
                                        <div class="icon"></div>
                                        <div class="date-content">
                                            <div class="date-outer">
                                                <span class="date">
                                                        <span class="month"> {{2022 - experience.annee | number}} Years</span>
                                                <span class="year">{{experience.annee}}</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <h5 class="title"></h5>
                                            <p class="description">
                                                {{experience.Description}}
                                             </p>
                                        </div>
                                    </div>
                                    <!-- end experience section-->
            
                                </div>
            
      </div>
    